<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/TravelBooking/Style/styleLogin.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="login-container">
        <div class="form-box" id="forgot-form">
            <h2>Forgot Password</h2>
            <form id="forgotPasswordForm" method="POST" action="/api/v1/client/resetpassword?_method=PATCH">
              <div class="input-group">
                <i class="fas fa-lock"></i> 
                <input type="text" id="forgot-username" name="password" placeholder="Enter your new Password" required >
              </div>
              <div class="input-group">
                <i class="fas fa-lock"></i> 
                <input type="text" id="forgot-username" name="passwordconfirm" placeholder="Re-enter your new Password" required >
              </div>
              <button type="submit" class="login-btn">Reset Password</button>
            </form>
            <a href="/api/v1/client/login" class="back-to-login" onclick="showLogin()">Back to Login →</a>
          </div>
    </div>
</body>